#############################################################################
# Copyright (c) 2021-2022, NVIDIA CORPORATION. All rights reserved.
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.
#############################################################################

#Test

/_*/
# /_output can be a symlink, so diff from above
/_output
/.vs
/_vs
.history
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
*.sublime-workspace
**/__pycache__
/gametargets.conf
/dxvk.conf
.vscode/
/external
**/_batch_output/**
/public/bin/
*.log
.build-venv/
.venv/
metrics.txt
nrc_session_log.txt
python.dxvk-cache
*.xml.user
nv-private/
.github/workflows/
/build-remixDx11.bat
/build-remixDx11.bat.lnk
dlldata.c
iping_h.h
iping_i.c
iping_p.c
Remix-Dx11.vcxproj
Remix-Dx11.vcxproj.filters
Remix-Dx11.vcxproj.user
Remix-Dx11V2.sln
Remix-Dx11V2.slnLaunch.user
Remix-Dx11V2.vcxproj
Remix-Dx11V2.vcxproj.filters
Remix-Dx11V2.vcxproj.user
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/CL.command.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.read.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.write.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/midl.command.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Remix-Dx11V2.lastbuildstate
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/unsuccessfulbuild
Remix-Dx11V2/x64/Debug/vc143.idb
Remix-Dx11V2/x64/Debug/vc143.pdb
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/CL.command.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.read.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.write.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/midl.command.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Remix-Dx11V2.lastbuildstate
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/unsuccessfulbuild
Remix-Dx11V2/x64/Release/vc143.pdb
HANDOFF_UI_HUD_DEFERRAL.md
HANDOFF_HUD_SESSION2.md
rebuild-remixDx11.bat
HANDOFF_VGUI_WORLDSPACE.md
HANDOFF_VGUI_FINISH.md
HANDOFF_GUN_BACK_VGUI_PANEL.md
HANDOFF_GUN_SCREEN_SPACE_EMISSIVE.md
HANDOFF_HOLO_CHARACTER.md
HANDOFF_TF2_MISSING_FLOOR.md
HANDOFF_TF2_FLOOR_RENDER.md
dump_floor_diag.py
HANDOFF_TF2_HILLAIRE_AND_CAMERA.md
HANDOFF_TF2_VIEWTOPROJECTION_DECOMPOSE.md
HANDOFF_TF2_DOME_AND_CAMERA_CLEANUP.md
HANDOFF_TF2_SKY_YELLOW.md
HANDOFF_TF2_SKY_PROBE.md
HANDOFF_HASH_DEBUG_SESSION.md
HANDOFF_SKY_CUBE_BACKDROP.md
HANDOFF_ENGINE_CAM_HOOK.md
HANDOFF_SKY_CLASSIFIER_FIXES.md
HANDOFF_TF2_MOUNTAINS.md
HANDOFF_TF2_SUBVIEW_REPROJECT.md
HANDOFF_TF2_SUBVIEW_DEDUP.md
HANDOFF_MOUNTAINS_INVISIBLE_AT_START.md
HANDOFF_TF2_MOUNTAIN_CAMERA_RELATIVE.md
HANDOFF_TF2_MOUNTAINS_PI_RENDER.md
HANDOFF_COVERAGE_TOOL_AND_SKY_BLOT.md
HANDOFF_PREMULT_CLOUD_FIX.md
HANDOFF_SKYBOX_BOXY_CORRUPTION.md
HANDOFF_STREAKING.md
HANDOFF_TF2_SUBVIEW_SKY_BLACKBOX.md
build-remixDx11 - Copy.bat
HANDOFF_ALBEDO_MISSPIXEL_AND_COMPOSITE.md
HANDOFF_SHIP_RED_CORRUPTION.md
HANDOFF_TF2_PRIMARY_RAY_OOB.md
HANDOFF_TF2_SUBVIEW_SKY_RESOLVED.md
HANDOFF_TF2_SUBVIEW_STALE_PARTIAL.md
HANDOFF_VANISHING_SHIP_2026-06-06.md
HANDOFF_VANISHING_FLOOR_2026-06-05.md
HANDOFF_MISSING_FLOOR_SESSION2.md
HANDOFF_WIDOW_MODEL_HOOK_2026-06-06.md
HANDOFF_VANISHING_SHIP_TELEPORT_2026-06-06.md
HANDOFF_WIDOW_VANISH_CULL_2026-06-06.md
HANDOFF_AABB_BOUNDINGBOX_VANISH_2026-06-06.md
HANDOFF_DROPSHIP_VANISH_2026-06-07.md
HANDOFF_DROPSHIP_RENDERLISTPROBE_2026-06-07.md
HANDOFF_DROPSHIP_2026-06-07_b.md
CULLING_BIBLE.md
HANDOFF_DROPSHIP_2026-06-07_c.md
HANDOFF_DROPSHIP_2026-06-07_leafmask.md
HANDOFF_DROPSHIP_2026-06-08_studiorender.md
HANDOFF_DROPSHIP_2026-06-08_SESSION-N.md
HANDOFF_DROPSHIP_2026-06-08_SESSION-O.md
HANDOFF_DROPSHIP_2026-06-08_SESSION-P.md
HANDOFF_DROPSHIP_2026-06-08_SESSION-R_perinstance-gpuread.md
HANDOFF_DROPSHIP_2026-06-09_color1-garbage-rootcause.md
HANDOFF_PERF_SUBMITDRAW.md
HANDOFF_PERF_NEXT_AREAS.md
HANDOFF_RETAINED_INSTANCE_FASTPATH.md
HANDOFF_INJECTION_PERF_FINDINGS.md
HANDOFF_PERF_30FPS.md
HANDOFF_DRAWCOUNT_REDUCTION.md
HANDOFF_ENGINE_DERIVED_LIGHTING.md
HANDOFF_GPU_DRIVEN_CAPTURE.md
HANDOFF_PARTICLE_INJECTION.md
HANDOFF_TF2_LIGHT_TYPES.md
HANDOFF_TF2_STRIP_EMISSIVE.md
HANDOFF_TF2_STRIP_LIGHTMAP.md
HANDOFF_TF2_STRIPS_INVISIBLE_v2.md
HANDOFF_SUBMITDRAW_THREADING.md
HANDOFF_GPU_DRIVEN_INJECTION.md
HANDOFF_SUBMITDRAW_STALL_INVESTIGATION.md
HANDOFF_TF2_GPU_BOUND_PRIMARY_RAYS.md
HANDOFF_TF2_PRIMARY_RAY_COST.md
HANDOFF_TF2_PRIMARY_RAY_COST_V4.md
build-remixDx11Release.bat
# NVIDIA private files - never commit
/nv-private/
HANDOFF_TF2_VOLUMETRICS_AND_PROFILING.md
HANDOFF_30FPS.md
HANDOFF_NSYS_AND_SCENE_REBUILD.md
HANDOFF_CAPTURE_PIPELINE_AND_PRIMARY_RAYS.md
HANDOFF_PERDRAW_CPU_WC_AND_CACHES.md
HANDOFF_TREE_BILLBOARD_FLICKER.md
HANDOFF_TREE_BILLBOARD_FLICKER_v2.md
HANDOFF_PINK_FLASH_VS2904D2.md
HANDOFF_MESHTRACE_DROPS.md
HANDOFF_MESHTRACE_DROPS_V2.md
HANDOFF_PI_FLICKER_V2.md
HANDOFF_MESHTRACE_DROPS_V3.md
HANDOFF_FLICKER_SCENEWIDE_V1.md
HANDOFF_PI_FLICKER_V3.md
HANDOFF_PI_FLICKER_V4.md
HANDOFF_PI_FLICKER_V5.md
HANDOFF_PI_FLICKER_V6.md
HANDOFF_FLICKER_V7.md
HANDOFF_FLICKER_V9.md
HANDOFF_FLICKER_V8.md
HANDOFF_FLICKER_V10.md
HANDOFF_FLICKER_V11.md
HANDOFF_FLICKER_V13.md
HANDOFF_FLICKER_V12.md
HANDOFF_FLICKER_V14.md
