#############################################################################
# Copyright (c) 2021-2022, NVIDIA CORPORATION. All rights reserved.
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.
#############################################################################

#Test

/_*/
# /_output can be a symlink, so diff from above
/_output
/.vs
/_vs
.history
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
*.sublime-workspace
**/__pycache__
/gametargets.conf
/dxvk.conf
.vscode/
/external
**/_batch_output/**
/public/bin/
*.log
.build-venv/
.venv/
metrics.txt
nrc_session_log.txt
python.dxvk-cache
*.xml.user
nv-private/
.github/workflows/
/build-remixDx11.bat
/build-remixDx11.bat.lnk
dlldata.c
iping_h.h
iping_i.c
iping_p.c
Remix-Dx11.vcxproj
Remix-Dx11.vcxproj.filters
Remix-Dx11.vcxproj.user
Remix-Dx11V2.sln
Remix-Dx11V2.slnLaunch.user
Remix-Dx11V2.vcxproj
Remix-Dx11V2.vcxproj.filters
Remix-Dx11V2.vcxproj.user
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/CL.command.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.read.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.write.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/midl.command.1.tlog
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/Remix-Dx11V2.lastbuildstate
Remix-Dx11V2/x64/Debug/Remix-Dx11V2.tlog/unsuccessfulbuild
Remix-Dx11V2/x64/Debug/vc143.idb
Remix-Dx11V2/x64/Debug/vc143.pdb
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/CL.command.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.read.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Microsoft.Build.CPPTasks.MIDL.write.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/midl.command.1.tlog
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/Remix-Dx11V2.lastbuildstate
Remix-Dx11V2/x64/Release/Remix-Dx11V2.tlog/unsuccessfulbuild
Remix-Dx11V2/x64/Release/vc143.pdb
HANDOFF_UI_HUD_DEFERRAL.md
HANDOFF_HUD_SESSION2.md
